<%= render "/partials/current_path_links", :age_group=> @team.age_group, :division=> @team.division, :h=>3, :suffix=>"" %>
<h1>Dashboard for <%= @team.name %></h1>

<%= render "/partials/results", :results=> @results %>

<%= render "/partials/fixtures", :fixtures=> @fixtures %>

<%= render "/partials/ladder", :age_group=> @team.age_group, :division=> @team.division %>
