<h1 class="display-3">Team</h1>
<h1>
  <%= link_to(@team.age_group, age_group_path(@team.age_group)) %> /
  <%= link_to(@team.division, division_path(@team.age_group, @team.division)) %> /
  <%= @team.name %>
</h1>

<h3 class="mt-5">Results</h3>
<%= render "/partials/results", :results=> @results %>
<h3 class="mt-5">Fixtures</h3>
<%= render "/partials/fixtures", :fixtures=> @fixtures %>
<h3 class="mt-5">Ladder</h3>
<%= render "/partials/ladder", :age_group=> @team.age_group, :division=> @team.division, :specific_team=>nil %>
