<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th class="left-align">Team</th>
      <th>MP</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>Points</th>
      <th>Form</th>
    </tr>
  </thead>
  <tbody class="<%= "compact" if specific_team.present? %>">
    <% ladder = get_ladder(age_group, division) %>
    <% this_team = -1 %>
    <% if specific_team.present? %>
      <% this_team = ladder.index(ladder.detect {|id, stats| id == specific_team }) %>
    <% end %>
    <% ladder.each_with_index do |t, i| %>
      <% if specific_team.blank? || (i.between?(this_team - 1, this_team + 1) && i.between?(0, ladder.size - 1)) %>

        <tr class="<%= team_classes Team.find t[0] %>">
          <td><%= i + 1 %></td>
          <td class="left-align"><%= link_to(t[1][:name], team_path(t[0]), :class=> team_classes(t[0])) %></td>

          <td><%= t[1][:mp] %></td>
          <td><%= t[1][:w] %></td>
          <td><%= t[1][:l] %></td>
          <td><%= t[1][:d] %></td>
          <td><%= t[1][:gf] %></td>
          <td><%= t[1][:ga] %></td>
          <td><%= t[1][:gd] %></td>
          <td class="table-highlight"><%= t[1][:pts] %></td>
          <td class="form-container">
            <% form = Team.find(t[0]).form %>
            <% form_key = {'W'=> 'Won', 'L'=> 'Lost', 'D'=> 'Drew'} %>
            <% form.each do |f| %>
              <% match = Match.find f[0] %>
              <a href="<%= match_path(f[0]) %>" class="form-icon form-<%= f[1].downcase %>">
                <abbr title="<%= form_key[f[1]] %>"><%= f[1] %></abbr>
                <span class="form-hover-detail">

                  <% if match.home_id == t[0] %>
                    <span class="this-team">
                  <% end %>
                  <%= match.home_team.club.short_sign %>
                  <%= match.home_score %>
                  <% if match.home_id == t[0] %>
                    </span>
                  <% end %>
                   :
                  <% if match.away_id == t[0] %>
                    <span class="this-team">
                  <% end %>
                  <%= match.away_score %>
                  <%= match.away_team.club.short_sign %>
                  <% if match.away_id == t[0] %>
                    </span>
                  <% end %>
                </span>
              </a>

            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
