  <table class="table table-hover">
    <thead>
      <tr>
        <th class="left-align">Date</th>
        <th class="left-align">Time</th>
        <th class="left-align">Ground</th>
        <th>Round</th>
        <th class="right-align">Home Team</th>
        <th></th>
        <th class="left-align">Away Team</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |m| %>
      <tr>
        <td class="left-align"><time><%= short_date m.game_date %></time></td>
        <td class="left-align"><time><%= time_only m.game_date %></time></td>
        <td class="left-align"><%= link_to(m.ground.name, ground_path(m.ground.id)) %></td>
        <td><%= m.round %></td>
        <td class="right-align"><%= link_to(m.home_team.name, team_path(m.home_id), :class => team_classes(m.home_id)) %></td>
        <td>
          <%= render "/partials/score", :home_score=> m.home_score, :away_score=> m.away_score %>
        </td>

        <td class="left-align"><%= link_to(m.away_team.name, team_path(m.away_id), :class => team_classes(m.away_id)) %></td>
        <td class="right-align nobreak"><%= link_to("View →", match_path(m.id), :class=> "view-link") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
