<h1><%= @user.name %></h1>

<h2>Favourite Teams</h2>
<% @favs.each do |f| %>
  <h4>
    <%= f.name if f.name.present? %>
    / <%= link_to f.team.age_group, age_group_path(f.team.age_group) %> /
    <%= link_to f.team.division, division_path(f.team.age_group, f.team.division) %> /
    <%= link_to f.team.name, f.team %>
    [<%= link_to "Edit Tag", edit_fav_path(f.user, f.id) %>]
  </h4>
<% end %>
<%= link_to "Add Team", new_fav_path(@user) %>


<h2>Personal Details</h2>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<% if @user.admin %>
  <p>Administrator: <%= @user.admin %></p>
<% end %>
<p>Account Created: <%= long_date_time @user.created_at %></p>
<p>Last Updated: <%= long_date_time @user.updated_at %></p>
<%= link_to "Edit Details", edit_user_path(@user) %>
<%= link_to "Delete Account" %>
