<div class="row">
  <div class="col">
    <h3><small class="text-muted">Profile For:</small></h3>
    <h1 class="display-3"><%= @user.name %></h1>

  </div>

</div>

<div class="row mt-5">
  <div class="col-3">
    <div class="list-group" id="user-tab" role="tablist">
      <a href="#user-teams" class="list-group-item list-group-item-action active" data-toggle="list" id="user-teams-list" role="tab">Tracked Teams</a>
      <a href="#user-details" class="list-group-item list-group-item-action" data-toggle="list" id="user-details-list" role="tab">My Details</a>
    </div>
  </div>

  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="user-teams" role="tabpanel">
        <div class="card">
          <ul class="list-group list-group-flush">
            <% @favs.each do |f| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span>
                    <%= f.name if f.name.present? %>
                    / <%= link_to f.team.age_group, age_group_path(f.team.age_group) %> /
                    <%= link_to f.team.division, division_path(f.team.age_group, f.team.division) %> /
                    <%= link_to f.team.name, f.team %>
                  </span>

                    <%= link_to "Update", edit_fav_path(f.user, f.id), :class=> ' badge badge-warning' %>

                </li>

            <% end %>
            </ul>
        </div>
        <div class="col text-center my-3">
          <%= link_to "Track New Team", find_fav_path(@user), :class=> 'btn btn-primary' %>
        </div>

      </div>
      <div class="tab-pane fade" id="user-details" role="tabpanel">
        <div class="card">
          <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Name:</strong> <%= @user.name %></li>
              <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Email:</strong> <%= @user.email %></li>
              <% if @user.admin %>
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Administrator:</strong> Yes</li>
              <% end %>
              <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Account Created:</strong> <%= long_date_time @user.created_at %></li>
              <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Last Modified:</strong> <%= long_date_time @user.updated_at %></li>
            </ul>
        </div>
        <div class="col text-center my-3">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
            Delete
          </button>
          <%= link_to "Edit Details", edit_user_path(@user), :class => 'btn btn-primary' %>
        </div>
        <%= render "/partials/delete_modal", :target => @user, :content => "#{@user.name} (#{@user.email})"  %>

      </div>
    </div>

  </div>
</div>
