<h1 class="display-3">Playing Field<h1>
<h1 class="mt-5"><%= link_to "GHFA Fields", grounds_path %> / <%= @ground.name %></h1>

<div class="row mt-5">
  <div class="col-md-2">
    <p><%= link_to "Directions", "https://www.google.com/maps/dir/?api=1&destination=#{@ground.latitude},#{@ground.longitude}", :target => '_blank', :class=> 'btn btn-lg btn-success' %></p>
    <p><strong>Short Sign:</strong> <%= @ground.short_sign %></p>
    <p><strong>Latitude:</strong> <%= @ground.latitude %></p>
    <p><strong>Longitude:</strong> <%= @ground.longitude %></p>
    <p><strong>Council:</strong> <%= link_to "Council" %></p>
  </div>
  <div class="col-md-10">
    <iframe class='gmap' frameborder="0"
    src="https://www.google.com/maps/embed/v1/view?center=<%= @ground.latitude %>,<%= @ground.longitude %>&zoom=16&key=<%= Grassroots::Application.credentials.google_api_key %>" allowfullscreen></iframe>
  </div>
</div>
