<h1 class="display-3">Dashboard</h1>


  <% @favs.each do |f| %>
    <div class="row mt-5">
      <div class="col">
        <h2>
          <%= f.name if f.name.present? %> /
          <%= link_to f.team.age_group, age_group_path(f.team.age_group) %> /
          <%= link_to f.team.division, division_path(f.team.age_group, f.team.division) %> /
          <%= link_to f.team.name, f.team %>
        </h2>
      </div>
    </div>
    <div class="row mb-5 mt-3">
      <section class="col">
        <div class="card h-100 bg-light">
          <div class="card-body text-center">
            <div class="row justify-content-between mx-0">
              <h4 class="card-title text-left mb-4">Next Game
                <% unless next_match(f.team).nil? %>
                  <% n = next_match(f.team) %>
                   - <a href="<%= match_path n %>" alt="Link to next game">in <%= days_from_today n.game_date %></a>

                   </h4>
                  <h4 class="card-title text-right">
                    <%= navigate_to n.ground.latitude, n.ground.longitude, 'btn btn-sm btn-outline-success', 'Nav' %>
                  </h4>
                <% end %>
            </div>


             <% unless next_match(f.team).nil? %>
              <h5>
                <% opponent = other_team n, f.team.id %>
                vs. <%= link_to opponent.name, opponent %>
                at
                <%= link_to n.ground.name, n.ground %>
              </h5>
              <p class="mt-3"><%= long_date_time n.game_date %></p>
              <%= link_to "Match Info", match_path(n), :class=> 'btn btn-outline-primary' %>
            <% else %>
              <h5>No games scheduled.</h5>
            <% end %>
          </div>

        </div>



      </section>

      <section class="col">
        <div class="card h-100 bg-light">
          <div class="card-body text-center">
            <h4 class="card-title text-left mb-4">Latest Result</h4>
            <h5 class="card-score">
              <% unless last_match(f.team).nil? %>
                <% l = last_match(f.team) %>

                <%= link_to(l.home_team.name, team_path(l.home_id), :class => team_classes(team_id: l.home_id, home: true)) %>
                <%= render "/partials/score", :home_score=> l.home_score, :away_score=> l.away_score %>
                <%= link_to(l.away_team.name, team_path(l.away_id), :class => team_classes(team_id: l.away_id)) %>
            </h5>

              <p class="mt-3">Played on <%= short_date l.game_date %> at <%= link_to l.ground.name, l.ground %></p>
              <%= link_to "Match Info", match_path(l), :class=> 'btn btn-outline-primary' %>
            <% else %>
              <h5 class="card-subtitle">No games played this season.</h5>
            <% end %>
          </div>

        </div>

      </section>
    </div>
    <div class="row">
      <section class="col">
        <%= render "/partials/ladder", :age_group=> f.team.age_group, :division=> f.team.division, :specific_team=> f.team.id %>
      </section>
    </div>
  <% end %>
