<h1>Dashboard for <%= @current_user.email %></h1>
<% @teams.each do |t| %>
  <article class="team-tile">
    <h3>/ <%= link_to t.age_group, age_group_path(t.age_group) %> / <%= link_to t.division, division_path(t.age_group, t.division) %> / <%= link_to t.name, t %></h3>
    <div class="dash-info">
      <div class="dash-next-game">
        <h4>Next Game
          <% unless next_match(t).nil? %>
            <% n = next_match(t) %>
             - <a href="<%= match_path n %>" alt="Link to next game">in <%= days_from_today n.game_date %> days</a>
          <% end %>
         </h4>
        <% unless next_match(t).nil? %>

          <p><%= long_date_time n.game_date %></p>
          <p><%= link_to n.ground.name, n.ground %></p>
          <% opponent = other_team n, t.id %>
          <p>Versus <%= link_to opponent.name, opponent %></p>
        <% else %>
          <p>No games scheduled.</p>
        <% end %>
      </div>
      <div class="dash-latest-result">
        <h4>Latest Result</h4>
        <% unless last_match(t).nil? %>
          <% l = last_match(t) %>

          <%= link_to(l.home_team.name, team_path(l.home_id), :class => team_classes(team_id: l.home_id, home: true)) %>
          <%= l.home_score %>
          :
          <%= l.away_score %>
          <%= link_to(l.away_team.name, team_path(l.away_id), :class => team_classes(team_id: l.away_id)) %>
          <p>Played on <%= short_date l.game_date %> at <%= link_to l.ground.name, l.ground %></p>
        <% else %>
          <p>No games played this season.</p>
        <% end %>
      </div>
      <div class="dash-table">
        <%= render "/partials/ladder", :age_group=> t.age_group, :division=> t.division, :specific_team=> t.id %>
      </div>

    </div>
  </article>

<% end %>
