<h1>Teams / <%= link_to @age_group, age_group_path(@age_group) %> / <%= @division %></h1>
<h3 class="mt-5">Ladder</h3>
<%= render "/partials/ladder", :age_group=> @age_group, :division=> @division, :specific_team=> nil %>
<h3 class="mt-5">Results</h3>
<%= render "/partials/results", :results=> @results %>
<h3 class="mt-5">Fixtures</h3>
<%= render "/partials/fixtures", :fixtures=> @fixtures %>
