<h1>Edit Team Tag</h1>

<%= form_for @fav do |f| %>
  <%= f.label :team_id %>
  <%= f.text_field :team_id, :value=> @fav.team.name, :disabled => true %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>
<%= button_to "Delete", @fav, :method=> 'delete', :data=> {:confirm=> 'Are you sure?'} %>
