<div class="row mb-5">
  <div class="col-md-10">
    <h1 class="display-3">Modify Tracked Team</h1>
  </div>

  <div class="col-md-2 flex-right">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Remove</button>
  </div>

</div>

<div class="row">
  <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
    <%= form_for @fav do |f| %>


          <div class="form-group">
            <%= f.label :team_id %>
            <%= f.text_field :team_id, :value=> "#{@fav.team.age_group} / #{@fav.team.division} / #{@fav.team.name}", :disabled => true, :class=> 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class=> 'form-control', :autofocus => true %>
          </div>


          <div class="form-group text-center">
            <%= link_to "Cancel", user_path(@user), :class=> 'btn btn-lg btn-light mx-2' %>
            <%= f.submit "Update", :class=> 'btn btn-lg btn-primary mx-2' %>
          </div>


    <% end %>

  </div>
</div>


<%= render "/partials/delete_modal", :content=> @fav.name, :target=> @fav, :word=> 'Remove' %>
