<div class="row">
  <div class="col">
    <h1>Update Favourite Team</h1>
  </div>

  <div class="col flex-right">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
      Delete
    </button>
  </div>

</div>


<%= form_for @fav do |f| %>

    <div class="row form-group">
      <div class="col">
        <%= f.label :team_id %>
        <%= f.text_field :team_id, :value=> @fav.team.name, :disabled => true, :class=> 'form-control' %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col">
        <%= f.label :name %>
        <%= f.text_field :name, :class=> 'form-control' %>
      </div>
    </div>

    <div class="row ">
      <div class="col text-center">
        <%= link_to "Cancel", user_path(@user), :class=> 'btn btn-lg btn-light mx-2' %>
        <%= f.submit "Update", :class=> 'btn btn-lg btn-primary mx-2' %>
      </div>
    </div>

<% end %>
<%= render "/partials/delete_modal", :content=> @fav.name, :target=> @fav %>
