<h1>Add Favourite Team</h1>
<%= form_for @fav do |f| %>
  <%= f.text_field :user_id, :value=> @user.id, :placeholder=> @user.name, :type=>'hidden' %>
  <div class="form-group">
    <%= f.label :team_id %>
    <%= f.select :team_id, @results,  :include_blank => true, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, "Tag" %>
    <%= f.text_field :name, :class=> 'form-control' %>
  </div>


  <%= f.submit 'Add Team', :class=> 'btn btn-success btn-lg' %>
<% end %>
