<div class="row">
  <div class="col">
    <h1 class="display-3">Add a Tag</h1>
    <h3><small class="text-muted">For clear identification of the team.</small></h3>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <%= form_for @fav do |f| %>

      <% if @user.errors.any? %>
        <ol>
          <% @user.errors.full_messages do |m| %>
            <li><%= m %></li>
          <% end %>
        </ol>
      <% end %>
      <%= f.text_field :user_id, :value=> @user.id, :placeholder=> @user.name, :type=>'hidden' %>
      <%= f.text_field :team_id, :value=> @team.id, :placeholder=> @team.name, :type=>'hidden' %>


      <div class="form-group">
        <%= f.label :name, "Tag" %>
        <%= f.text_field :name, :class=> 'form-control', :placeholder => "Jimmy's Team" %>
      </div>

      <div class="row mt-5">
        <div class="col text-center ">
          <%= f.submit "Track #{@team.age_group} / #{@team.division} / #{@team.name}", :class=> 'btn btn-success btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
