<div class="row justify-content-between">
  <div class="col">
    <h1 class="display-3">Match</h1>
  </div>

  <% if @current_user.present? && @current_user.admin? %>
    <div class="col text-right my-auto">
      <%= link_to "Update Match", edit_match_path(@match), :class=> 'btn btn-warning' %>
      <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">Delete</button>
    </div>
  <% end %>

</div>

<% if @match.played? %>
  <%= render "/partials/match_result" %>
<% else %>
  <%= render "/partials/match_fixture" %>
<% end %>
<div class="row text-center mt-5 ">
  <%= link_to "Matchup Details", matchup_path(@match.home_id, @match.away_id), :class=> 'btn btn-lg btn-primary mx-auto' %>
</div>

<%= render "/partials/delete_modal", :content => 'this match', :target => @match, :word => 'Delete' %>
