<!DOCTYPE html>
<html>
  <head>
    <title>Grassroots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mb-0 h1" href="#">grassy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "Age Groups", '#', :class=> 'nav-link' %>
          </li>

        </ul>

      </div>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <% if @current_user.present? %>
          <% if @current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administration
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "All Users", users_path, :class=> 'dropdown-item' %>
                <%= link_to "Add Ground", new_ground_path, :class=> 'dropdown-item' %>
                <%= link_to "Add Team", new_team_path, :class=> 'dropdown-item' %>
                <%= link_to "Add Club", new_club_path, :class=> 'dropdown-item' %>
              </div>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path, :class=> 'dropdown-item' %>
              <%= link_to "My Profile", user_path(@current_user), :class=> 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout #{@current_user.email}", login_path, :method=> 'delete', :class=> 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", login_path, :class => 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="container my-5">
        <%= yield %>
    </div>


  </body>
</html>
